.fundo {
  width: 40%;
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
}

.conteudo {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  margin-top: 1rem;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

li {
  width: 90%;
  background-color: #f9f9f9;
  border-radius: 4px;
  align-items: center;
  margin-bottom: 8px;
  padding: 10px 12px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li span {
  flex: 1;
}

ul {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li button {
  background-color: #dc3545;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

li button:hover {
  background-color: #a71d2a;
}

.concluida span {
  text-decoration: line-through;
  color: gray;
  font-style: italic;
}

input,
input[type="date"] {
  margin: 5px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 6px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.alta {
  border-left: 6px solid #dc3545;
  background-color: #ffe5e5;
}

.media {
  border-left: 6px solid #ffc107;
  background-color: #fff9e6;
}

.baixa {
  border-left: 6px solid #28a745;
  background-color: #e6ffe6;
}

select {
  margin: 5px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-conteudo {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.forms button {
  margin-top: 5px;
  width: 50%;
  margin-left: 25%;
}

.cancelar {
  background-color: #dc3545;
}

.cancelar:hover {
  background-color: #a71d2a;
}

.filtro-container {
  margin-bottom: 1rem;
}

.filtro-container select {
  padding: 0.25rem;
  font-size: 1rem;
}
