<div class="fundo">
  <h2>Minha checklist</h2>
  <button (click)="abrirModal()">Adicionar uma nova tarefa</button>
  <ul>
    <li
      *ngFor="let tarefa of tarefas"
      [ngClass]="[
        'tarefa',
        tarefa.prioridade,
        tarefa.concluida ? 'concluida' : ''
      ]"
    >
      <input
        type="checkbox"
        [(ngModel)]="tarefa.concluida"
        (change)="salvarTarefas()"
      />

      <span>
        <span *ngIf="tarefa.concluida">✅</span>
        {{ tarefa.nome }}
        <small *ngIf="tarefa.data">
          (Até {{ tarefa.data | date : "dd/MM/yyyy" }})
        </small>
      </span>
      <button (click)="removerTarefa(tarefa)">Remover</button>
    </li>
  </ul>
</div>

<!-- Modal de Nova Tarefa -->
<div class="modal" *ngIf="mostrarModal">
  <div class="modal-conteudo">
    <h2>Adicionar Tarefa</h2>
    <div class="forms">
      <label>Nome:</label>
      <input [(ngModel)]="novaTarefa" />

      <label>Data Máxima</label>
      <input type="date" [(ngModel)]="dataMaxima" />

      <label>Prioridade:</label>
      <select [(ngModel)]="prioridade">
        <option value="" disabled selected>Prioridade</option>
        <option value="alta">Alta</option>
        <option value="media">Média</option>
        <option value="baixa">Baixa</option>
      </select>

      <button (click)="adicionarTarefa(); fecharModal()">Salvar</button>
      <button class="cancelar" (click)="fecharModal()">Cancelar</button>
    </div>
  </div>
</div>

<!-- [style.text-decoration]="tarefa.concluida ? 'line-through' : 'none'" -->
